@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Grand Circus Coffee Shop</h1>
    <p>Where we unfortunately sell nothing..</p>
</div>

<body>
    <h2>Leave me alone!</h2>
    <h6>I hate it here.</h6>

</body>
